.column {
	border: 2px solid;
	border-color:#5BA3D6;	
	height:311px;
	margin-left:4%;
	width:28%;
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
	margin-top:40px;
}

.box {
	border-top:2px solid #5BA3D6;
	height:40px;
	margin-left:0%;
	width:100%;
	display:inline-block;
	box-sizing:border-box;
	margin-bottom:-55px
}

.flipBox {
	border-left:2px solid #5BA3D6;
	border-bottom:2px solid #5BA3D6;
	height:25px;
	width:25px;
	margin-left:91%;
	display:inline-block;
	vertical-align: top;
	z-index:100;
	position:relative;
}

.flipBox i {
 	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-top: -5px;
}


.blue.box > div {
	border-right:2px solid #5BA3D6;
	height:42px;
	width:18%;
	display:inline-block;
	box-sizing: border-box;
	vertical-align: top;
	
}


.pink.box > div {
	border-right:2px solid #5BA3D6;
	height:42px;
	width:18%;
	display:inline-block;
	box-sizing:border-box;
	vertical-align: top;

}

.orange.box > div {
	border-right:2px solid #5BA3D6;
	height:42px;
	width:18%;
	display:inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

.column .box :nth-child(5) {
	border-right:none;
}

img {
	height: 238px;
	max-width: 100%;
	margin-left:21px;
	margin-top:-15px;
	padding-bottom: 20px;
}

p {
	color:#5BA3D6;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin:13px;
}

i {
	color:#5BA3D6;
	box-sizing: border-box;
	display:block;
	text-align:center;
}

.blue.four .small {
	border:solid #7BB4DC;
	background-color: #7BB4DC;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:11px;
	margin-bottom:7px;

}

.pink.four .small {
	border:solid #D482AA;
	background-color: #D482AA;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:11px;
	margin-bottom:7px;
}

.orange.four .small {
	border:solid #D8AD7A;
	background-color: #D8AD7A;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:11px;
	margin-bottom:7px; 
}

.column .box i {
	text-align: center;
    display: block;
    margin: 13px;
}

.column .flipBox i {
	transform:rotate(180deg);
	text-align:center;
	display:block;
	margin-top:3px;
	font-size:12px;
}

.column .trees p {
	display:inline-block;
	margin-top: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;

}

.column .nature p {
	display:inline-block;
	margin-top: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.column .forrest p {
	display:inline-block;
	margin-top: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

.icon:hover {
	background-color:#5BA3D6;
	cursor:pointer;
}

.icon:hover i {
	color:white; 
}

.icon:hover p {
	color:white;
}

.icon:hover .small {
	border-color:white;
	border-width: 2px;
}

.trees p {
	margin-left: 0;
	padding-top: 15px;
}

.nature p {
	margin-left:0;
	padding-top: 15px;

}

.forrest p {
	margin-left: 0;
	padding-top: 15px
}

span {
	font-weight: bold;
	margin-left:139px;

}	

.dropdown {
    display: inline-block;
    position:relative;
   
}

.tshirt ul {
	display: none;
    position: absolute;
    top: -176px;
    margin-left:-12px;
    margin-top:22px;

}

@keyframes moveUp {
  0% {
    margin-top:0px;
  }
  100% {
    margin-top:-1%;
  }
}

.dropdown:hover ul {
	animation: moveUp .2s;
    animation-iteration-count: once;
    animation-timing-function: linear;
    animation-delay:.35s;
}

.dropdown .small img {
	height:20px;
	width:20px;	
	margin-left:25px;
}

.dropdown .medium img {
	height:25px;
	width:25px;
	margin-left:22px;
}

.dropdown .large img {
	height:30px;
	margin-left: 20px;
	width:30px;
}

.dropdown .extraLarge img {
	height:35px;
	width:35px;
	margin-top:15px;
	margin-left:18px;
}
.dropdown:hover .tshirt ul {
	display: block;
	border:solid 2px #5BA3D6;
	background-color:white;
	height:150px;
	width:70px;
}

.dropdown img{
	padding-bottom:12px;
}

.flip-container {
	perspective:1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
	cursor:pointer;
}

.flip-container, .front, .back {
	max-width:250px;
	height:238px;
}

.flipper {
	transition:.5s;
	transform-style:preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility:hidden;
	position: absolute;
	top:0;
	left:0;
}

.front {
	z-index:2;
}

.back {
	transform:rotateY(180deg);
}

.dropdownTwo {
    display: inline-block;
   	position:relative;   
}

.dropdownTwo .tshirtColor li {
	display: inline-block;	
	
}

.tshirtColor ul {
	display: none;
    position: absolute;
    top: -91px;
    margin-left:-12px;
    margin-top:22px;

}


@keyframes moveUp {
  0% {
    margin-top:0px;
  }
  100% {
    margin-top:-1%;
  }

}

.dropdownTwo:hover ul {
	animation: moveUp .2s;
    animation-iteration-count: once;
    animation-timing-function: linear;
    animation-delay: .35s;
}

.dropdownTwo:hover .tshirtColor ul {
	display: block;
	border:solid 2px #5BA3D6;
	background-color:white;
	height:65px;
	width:65px;
}

.selector.blue {
	border:solid #7BB4DC;
	background-color: #7BB4DC;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:13px;
	margin-bottom:7px;
}

.selector.pink {
	border:solid #D482AA;
	background-color: #D482AA;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:13px;
	margin-bottom:7px;
}

.selector.orange {
	border:solid #D8AD7A;
	background-color: #D8AD7A;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:13px;
	margin-bottom:7px;
}

.selector.green {
	border:solid #669966;
	background-color:#669966;
	height:20px;
	width:20px;
	display:inline-block;
	box-sizing:border-box;
	margin:13px;
	margin-bottom:7px;
}



@media screen and (max-width: 990px) {
	.column{
		width:46%;
		margin-left: 0;
	}
}


@media screen and (max-width: 480px) {
	.column{
		width:100%;
		margin-left: 0;
	}
}
